[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "trialr"]
	path = trialr
	url = https://github.com/brockk/trialr
	shallow = true
	registered = true
